@charset "UTF-8";
/* ------------------------------------ 

CSS TABLE OF CONTENTS 

# GLOBAL CSS 

    # TYPOGRAPHY
        # BODY
        # HEADINGS
        # LINKS
        # HORIZONTAL RULE
        # HELPERS
        # TYPE SPECIMEN
    # BUTTONS
    # MEDIA
        # IMG
    # LAYOUT
        # MEDIA QUERIES
        # CONTAINER
        # RESPONSIVE TYPE
    # GRID
        # SEMENTIC COLUMNS (1/2, 1/3, ETC)
        # GRID HELPERS (SWAP, CENTER)
    # STRUCTURE
        # SITE-HEADER
        # SITE-FOOTER
        # SITE-NAV
        # SECTIONS
            # HERO SECTIONS

------------------------------------  */
/* HEADING */
body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.625em;
}

h1, h2, h3, h4 {
  font-family: "minion-3", serif;
  margin: 0.5em 0;
  font-weight: 400;
}

h1 {
  font-size: 3.4375em;
  line-height: 1em;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25em;
  line-height: 1em;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 2.25em;
  line-height: 2.8125;
  letter-spacing: 0.05em;
  font-style: italic;
}

h4 {
  font-size: 1.25em;
  line-height: 2.125em;
  letter-spacing: 0.25em;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  color: #626161;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
}

p {
  max-width: 43.75em;
  color: #626161;
}

a {
  color: #CE1F0A;
}

a:hover {
  color: #BD3320;
}

/* TYPE SPECIMEN */
.hero-subhead {
  color: #BA8C60;
}

button {
  font-size: inherit;
}

button,
.button {
  font-size: 0.875em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  background-color: #CE1F0A;
  color: #fff;
  padding: 0.9em 1.6em;
  display: inline-block;
  margin: 0.5em auto 0.5em auto;
  border-radius: 3px;
  margin-bottom: 2em;
  border: 1px solid #CE1F0A;
  cursor: pointer;
  text-decoration: none;
}
button:hover,
.button:hover {
  color: #CE1F0A;
  background-color: rgba(0, 0, 0, 0);
  border-color: #CE1F0A;
}
button.alt,
.button.alt {
  color: #CE1F0A;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #CE1F0A;
}
button.alt:hover,
.button.alt:hover {
  background-color: #CE1F0A;
  color: #fff;
  border-color: #CE1F0A;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 87.5%;
  margin: 0;
}

.container {
  padding: 0 4%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1050px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }

  .container {
    max-width: 1050px;
  }
}
.row .column {
  margin-bottom: 2%;
  padding: 1em;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%;
  }
  .row.swap {
    flex-direction: row-reverse;
  }
  .row.center {
    flex-direction: column;
    align-items: center;
  }
  .row .column {
    color: #44dda8;
    flex-grow: 1;
    margin: 1%;
  }
  .row .column.one-half {
    width: 48%;
  }
  .row .column.one-third {
    width: 31.3333%;
  }
  .row .column.two-thirds {
    width: 64.6666%;
  }
  .row .column.one-fourth {
    width: 23%;
  }
}
.row.demo .column {
  background: #f1f1f1;
  padding: 1em;
  text-align: center;
}

.site-header, .site-footer {
  background-color: #BA8C60;
  padding: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
}
.site-header h1, .site-footer h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  margin: 0.5em 0 0 0;
}
.site-header a, .site-footer a {
  text-decoration: none;
  color: #BA8C60;
}

.site-header {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.site-footer {
  justify-content: center;
  margin-top: 6em;
}

/* SITE NAVIGATION */
.site-nav {
  margin-bottom: 50px;
  text-align: center;
  width: 960px;
  margin: 0 auto;
  position: relative;
  border: 1px solid yellow;
}

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav ul li {
  display: inline-block;
}
.site-nav ul li:first-child {
  padding-left: 0;
  margin-left: 0;
}
.site-nav ul li:nth-child(2) {
  padding-right: 80px;
}
.site-nav ul li:nth-child(3) {
  padding-left: 100px;
}
.site-nav ul li:last-child {
  padding-right: 0;
}

.site-nav ul li a {
  display: block;
  padding: 1em 1.5em;
  transition: all 0.4s ease;
}

@media (max-width: 767px) {
  .site-nav ul li a:hover {
    background: #003;
    color: #fff;
  }
}
.logo {
  max-width: 103px;
  position: absolute;
  top: 2em;
  left: 50%;
  margin: 0 0 0 -51.5px;
}

/* MENU BUITTON */
.menu-button {
  position: absolute;
  top: 1.5em;
  right: 4%;
  display: flex;
  /* float: right; */
}

@media (min-width: 768px) {
  .menu-button {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
/* NAVICON */
.navicon {
  cursor: default;
  color: rgba(255, 255, 255, 0);
}

.navicon::selection {
  background: rgba(255, 255, 255, 0);
}

.navicon::after {
  cursor: pointer;
  content: "☰";
  font-size: 1.5em;
  color: black;
  display: block;
  margin-left: 0.5em;
}

.expanded .navicon::after {
  content: "✕";
  transform: rotate(90deg);
  transition: all 0.4s ease-out;
}

/* TOGGLE NAV */
@media (max-width: 768px) {
  .site-header.toggle-nav {
    text-align: left;
  }

  .toggle-nav .site-nav ul li {
    display: block;
    text-align: center;
  }

  .toggle-nav .site-nav ul {
    display: none;
  }

  .toggle-nav .site-nav.expanded ul {
    display: block;
  }
}
section {
  padding: 6em 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero {
  background-color: black;
  padding: 6em 1em;
  color: #fff;
  background-image: url(/img/Kakuida@2x-min.jpg);
  background-size: cover;
  max-width: 100%;
}

[data-scroll] {
  transition: opacity 1s;
}

[data-scroll=in] {
  opacity: 1;
}

[data-scroll=out] {
  opacity: 0;
}