// VARIABLES
$body-fontfamily: 'Roboto', sans-serif;
$heading-fontfamily: 'minion-3', serif; 

// COLORS
$color-text-body: #858382;
$color-text-dark: #090403;
$color-links: #CE1F0A;
$color-links-dark: rgb(179, 21, 3);

$color-accent: #BA8C60;
$colot-accent-light: rgb(238, 186, 137);
$color-hero-bg: rgba(0, 0, 0, 1);
$color-section-bg: #F9F8F3;


// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;  


// IMPORT PARTIALS 
@import 'partials/toc';
@import 'partials/typography'; 
@import 'partials/buttons'; 
@import 'partials/media';  
@import 'partials/layout';  
@import 'partials/grid';  
@import 'partials/structure';  

