// BOX SIZING 
* {box-sizing: border-box; }
html, body { height: 100%; }


// RESPONSIVE TYPE SCALING PER BREAKPOINT
// 14px on Small Screens (mobile}
// 16px on Medium Screens (tablets}
// 18px on Large Screens (desktop+}



body {
    font-size: 87.5%; // 14px
    margin: 0;

}

.container {
    // padding: 0 4%;
    margin: 0 auto;
    // border: 1px solid yellow;
    max-width: 100%;
    text-align: center;
}

@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%; // 16px
    }
}

@media (min-width: $breakpoint-medium) {
    .container {
        max-width: $breakpoint-medium - 50;
    }
}

@media (min-width: $breakpoint-large) {
    body {
        font-size: 112.5%; // 18px
    }
    .container {
        max-width: $breakpoint-medium;
    }
}









/* PRODUCT LISTS */

.container.list {
    overflow: hidden;
    padding: 0;
    border: 1px solid blue;
  }
  
  .filterDiv {
    float: left;
    margin: 10%;
    padding: 20px;
    display: none; /* Hidden by default */
    border: 1px solid pink;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  




  
//   /* Style the buttons */
//   .btn {
//     border: none;
//     outline: none;
//     padding: 12px 16px;
//     background-color: #f1f1f1;
//     cursor: pointer;
//   }
  
//   /* Add a light grey background on mouse-over */
//   .btn:hover {
//     background-color: #ddd;
//   }
  
//   /* Add a dark background to the active button */
//   .btn.active {
//     background-color: #666;
//     color: white;
//   }