// site header

.site-header, .site-footer {
    background-color: $color-accent;
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em;
        margin: .5em 0 0 0; //to adjust baseline 
    }

    a {
        text-decoration: none;
        color: $color-accent;
    }
}

// site header
.site-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 2;
}

// site footer
.site-footer {
    justify-content: center;
    margin-top: 6em;
}

/* SITE NAVIGATION */

.site-nav {
    margin-bottom:50px;
    text-align: center;
    width:660px;
    margin: 1em auto;
    position:relative;
    // border: 1px solid yellow;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    list-style: none;
}

.site-nav ul li {
    min-width: 23%;
    margin: 0 1%;
    // background-color: yellow;

    &:nth-child(2) {
        margin-right: 180px; /* nav menu gap */
    }


    &.temp {
        width: 103px;
    }
}

.site-nav ul li a {
    display: block;
    padding: 1em 1.5em;
    transition: all .4s ease;

    font-family: $body-fontfamily;
    font-weight: 400;
    font-size: 0.875em;
    color: $color-accent;
    text-transform: uppercase;
    letter-spacing: .2em;
}

@media (max-width:767px) {
    .site-nav ul li a:hover {
        background: pink;
        color: #fff;
    }
}

.logo {
    max-width: 103px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // background-color: green;
}

/* MENU BUITTON */

.menu-button {
    position: absolute;
    top: 1.5em;
    right: 4%;
    display: flex;
    /* float: right; */
}

@media (min-width: 768px) {
    .menu-button {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

/* NAVICON */

.navicon {
    cursor: default;
    color: rgba(255, 255, 255, 0);
}

.navicon::selection {
    background: rgba(255,255,255,0);
}

.navicon::after {
    cursor: pointer;
    content: "\2630";
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    display: block;
    margin-left: .5em;
}

.expanded .navicon::after {
    content: "\2715";
    transform: rotate(90deg);
    transition: all .4s ease-out;
}

/* TOGGLE NAV */

@media (max-width: 768px) {

    .site-header.toggle-nav {
        text-align: left;
    }

    .toggle-nav .site-nav ul li {
        display: block;
        text-align: center;
    }

    .toggle-nav .site-nav ul {
        display: none;
    }

    .toggle-nav .site-nav.expanded ul {
        display: block;
    }
}

section {
    padding: 6em 0;
}

.container {
    width: 100%;
    padding: 0 4%;
    text-align: center;
    // background-color: yellow;
}

.hero {
    background-color: $color-hero-bg;
    // padding: 6em 1em;
    color: #fff;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 100%;
    display: grid;
    place-items: center;
    background-attachment: fixed;
    position: relative;
}

/* HOME - HERO SECTION */

.hero-home {
    background-color: $color-hero-bg;
    padding: 6em 1em;
    color: #fff;
    background-image: url(../img/Kakuida@2x-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
    min-height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    // display: grid;
    // place-items: center;
    // position: relative;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	// background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
    // 	center/cover;
    // border: 2px solid red;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	// background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.content {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding-left: 1em;
    padding-right: 1em;
}

/* HOME - TOP SELLING VINEGARS */

.topselling {
    background-image: url(../img/bg-pattern01@2x-min.jpg);
    background-size: contain;
    background-position: center;
}

.topselling-card .container {
    background-color: rgb(255, 255, 255);
    max-width: 66em;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 80px 120px -60px rgba(63,63,31,0.3);
    padding: 4.7em 3em 2.3em 3em;
    margin-top: -10%;
    position: relative;
    z-index: 1;
} 

.deals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    // background-color: pink;
}

.topselling .row {
    padding: 0 3em;
}

.product-item {
    display: flex;
    flex-flow: column;
    max-width: 210px;
    margin: 1em auto;
    margin-bottom: 0;
    // border: 1px solid grey;
}

.product-item .item-img {
    margin-bottom: 1em;
}

/* HOME - WHAT IS BLACK VINEGAR? */

.blackvinegar {
    background-image: url(../img/bg-paper01@2x-min.jpg);
    background-size: cover;
    background-position: center;
    // min-height: auto;
}

.process {
    mix-blend-mode: darken;
    max-width: 95%;
    height: auto;
}

/* HOME - OUR CUSTOMERS SAY */

.testimonial {
    background-image: url(../img/bg-blackvinegar01@2x-min.png);
    background-size: cover;
    background-position: center;
    min-height: 573px;
}

/* Slideshow container */

:root {
    --swiper-theme-color: #BA8C60;
}

.swiper-container {
    width: 100%;
    min-height: 300px;
}

.slideshow-container {
    position: relative;
    // background: #f1f1f1f1;
  }

/* Slides */
.mySlides {
    // display: none;
    padding: 2em;
    text-align: center;
}

.slide-card {
    display:inline-block;
    width: 19.5em;
    height: 16.5em;
    background: rgba(0, 0, 0, 0.523);
    padding: 2.5em;
    margin: 1em;
}

.star-rate {
    width: 102px;
    margin: .4em;
}

.comment {
    color: white;
    margin: .5em;
}

.author {
    color: rgb(155, 155, 155);
    font-family: $heading-fontfamily;
    font-size: .875em;
    margin: .7em;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    margin-right: 3em;
    margin-left: 3em;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dots/bullets/indicators */
.dot-container {
    text-align: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 .3em;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    background-color: #717171;
}

.active, .dot:hover {
    background-color: #aeaeae;
}

/* HOME - DON'T MISS OUT */

.signup {
    background-image: url(../img/bg-kagoshima@2x-min.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* FORMS */

form {
    margin: 3em auto;
}

.input {
    display: flex;
    justify-content: center;
}

.inputbox {
    height: 50px;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-indent: 1em;
    margin-left: 1em;
    min-width: 20em;
    outline:none;
}

/* HOME - FIND US ON AMAZON */

.amazon {
    background-image: url(../img/Blackvinegar-products@2x-min.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 40em;
}

.amazon-logo {
    max-width: 45px;
    height: auto;
    margin-bottom: 1.4em;
}

/* FOOTER */

.site-footer {
    background-image: url(../img/bg-black-pattern@2x-min.jpg);
    background-size: contain;
    margin-top: 4em;
    display: block;
    font-size: 90%;

    .container {
        padding: 0;
        margin-top: 3em;
        max-width: 1200px;
        // margin-left: 1em;
        // margin-right: 1em;
    }

    .row {
        // display: flex;
        align-items: flex-start;
    }

    .column {
        padding: 0;
        padding-left: 4.6em;
    }

    .info {
        padding-left: 0;
        margin-left: 4.6em;
        margin-right: 0;
        line-height: 2.2em;
        // background-color: red;
    }

    .social {
        // margin-left: 0;
        padding-left: 3em;
        padding-right: 3em;
    }

    .one-whole.column {
        padding-left: 0;
    }

    ul {
        list-style: none;
        margin-top: 0;
        padding: 0;
        text-align: left;
        color: $color-accent;
    }

    img {
        max-width: 150px;
    }

    @media (min-width: 768px) {

        .column {
            min-width: 10%;
            max-width: 20%;
        }

        .one-whole.column {
            min-width: none;
            max-width: none;
        }

        .column:nth-child(1) { order: 3;}
        .column:nth-child(2) { order: 2;}
        .column:nth-child(3) { order: 4;}
        .column:nth-child(4) { order: 1;}
        .column:nth-child(5) { order: 5;}
    }

}

.footer-logo {
    width: 6.5em;
}

// .text {
//     background-color: rgb(69, 69, 69);
// }

.social {
    // padding-left: 4em;
    padding-top: .4em;
}

.social ul li {
    display: inline-block;
    padding-left: 30px;
    // padding-right: 30px;
    // padding-bottom: 20px;
    margin-bottom: 20px;

}


/* ABOUT */

.about .history {
    background-image: url(../img/bg-paper01@2x-min.jpg);
    background-size: cover;
    background-position: center;
    // min-height: 788px;
}

.about .hero {
    background-image: url(../img/kakuida-blackvinegar-hero-bg01.jpg);
    background-size: contain;
    background-position: top center;
    max-width: 100%;
    min-height: 60vh;
    background-repeat: no-repeat;

    @media (max-width: 768px) {

        min-height: 23em;
        background-size: cover;
        background-position: center;
    }

}

.about .video-box {
    border: none;
    box-shadow: 0px 60px 120px -60px rgb(63, 63, 31);
    position: relative;
    margin-top: -20%;
    outline:none;
    max-width: 100%;
    height: auto;
}


// LAYOUT SECTION

.ic-check {
    max-width: 1.4rem;
    margin-right: .6em;
}

.split-crossed-left {

    @media (min-width: $breakpoint-small) {
        
    .container {
        padding-top: 4em;
        display: flex;
        align-items: center;
        // flex-direction: row-reverse;
    }

    .image-block {
        width: 50%;
        padding-right: 3em;
        // background: pink;
    }

    .text-block {
        width: 50%;
        // background: aqua;
        transform: translateX(2em);
    }
    }
}

.split-crossed-reversed {
    @media (min-width: $breakpoint-small) {
        
    .container {
        padding-top: 4em;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .image-block {
        width: 50%;
        padding-left: 3em;
        // background: pink;
    }

    .text-block {
        width: 50%;
        // background: aqua;
        transform: translateX(2em)
        
    }
    }
}

// SPLIT-CROSSED LEFT ANIMATION  

[data-scroll].split-crossed-left .image-block, 
[data-scroll].split-crossed-left .text-block {
  transition: 1s ease-out transform;
}

[data-scroll="in"].split-crossed-left .image-block  {
  transform: translateX(2em);
}

// [data-scroll="out"].split-crossed-left .image-block {
//   transform: translateX(0);
// }

// SPLIT-CROSSED REVERSED ANIMATION  

[data-scroll].split-crossed-reversed .image-block, 
[data-scroll].split-crossed-reversed .text-block {
  transition: 1s ease-out transform;
}

[data-scroll="in"].split-crossed-reversed .image-block  {
  transform: translateX(-2em);
}

// [data-scroll="in"].split-crossed-reversed .text-block  {
//   transform: translateX(2em);
// }



/* PRODUCT */

.product .hero {
    background-image: url(../img/kakuida-blackvinegar-hero-bg02.jpg);
    background-size: contain;
    background-position: top center;
    max-width: 100%;
    min-height: 60vh;
    background-repeat: no-repeat;

    @media (max-width: 768px) {

        min-height: 23em;
        background-size: cover;
        background-position: center;
    }

}

.product .recommend {
    background-image: url(../img/bg-kakuida-drink-recommend@2x-min.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 50%;
}

.product .call-to-action-1 {
    background-image: url(../img/bg-Kakuida-CallToAction@2x-min.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    // min-height: 60%;
    min-width: 100vw;
    // max-width: 100vw;
    padding-bottom: 0;
}

.product .section-header {
    padding-top: 10em;
    padding-bottom: 3em;
} 

.product .site-footer {
    margin-top: 0;
}


/* Page Fade-ins */
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  main,
  fade-in {
    opacity: 0;
    animation: fade-in ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  @keyframes fade-and-move-in {
    from {
      transform: translate(0, -20px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .fade-and-move-in * {
    opacity: 0;
    animation: fade-and-move-in ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  .fade-and-move-in *:nth-child(1) {
    animation-delay: 0.1s;
  }
  .fade-and-move-in *:nth-child(2) {
    animation-delay: 0.2s;
  }
  .fade-and-move-in *:nth-child(3) {
    animation-delay: 0.4s;
  }
  .fade-and-move-in *:nth-child(4) {
    animation-delay: 0.7s;
  }
  .fade-and-move-in *:nth-child(5) {
    animation-delay: 1s;
  }
  .fade-and-move-in *:nth-child(6) {
    animation-delay: 1.2s;
  }
  .fade-and-move-in *:nth-child(7) {
    animation-delay: 1.4s;
  }
  .fade-and-move-in *:nth-child(8) {
    animation-delay: 1.6s;
  }
  .fade-and-move-in *:nth-child(9) {
    animation-delay: 1.8s;
  }







/* CONTACT */

.contact .hero {
    background-image: url(../img/kakuida-blackvinegar-hero-bg03.jpg);
    background-size: contain;
    background-position: top center;
    max-width: 100%;
    min-height: 60vh;
    background-repeat: no-repeat;

    @media (max-width: 768px) {

        min-height: 23em;
        background-size: cover;
        background-position: center;
    }

}

.contact-area {
    background-image: url(../img/bg-kagoshima-large@2x-min.jpg);
    background-size: cover;
    background-position: center;
    // max-width: 100%;
    // min-width: 100vw;
    background-repeat: no-repeat;
}

.contact .column {
    text-align: left;
}

.contact .row {
    align-items: baseline;
}

.contact .site-footer {
    margin-top: 0;
}


/* FORMS */

.contact {

    form {
        max-width: 410px;
        margin-top: .5em;
    }

    input, textarea {
        display: block;
        width: 100%;
        margin-left: 0;
        outline:none;
        -webkit-appearance: none;
        border-radius: 0;
    }

    input[type=text], textarea {
        padding: 1em;
        margin-bottom: 1.2em;
    }

    textarea {
        min-height: 150px;
    }

}















// SCROLL TRIGGERED ANIMAION
// [data-scroll] {transition: opacity 1s;}
// [data-scroll="in"] {opacity: 1;}
// [data-scroll="out"] {opacity: 0;}