// site header

.site-header, .site-footer {
    background-color: $color-accent;
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em;
        margin: .5em 0 0 0; //to adjust baseline 
    }

    a {
        text-decoration: none;
        color: $color-accent;
    }
}

// site header
.site-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

// site footer
.site-footer {
    justify-content: center;
    margin-top: 6em;
}

/* SITE NAVIGATION */

.site-nav {
    margin-bottom:50px;
    text-align: center;
    width:660px;
    margin: 1em auto;
    position:relative;
    // border: 1px solid yellow;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    list-style: none;
}

.site-nav ul li {
    min-width: 23%;
    margin: 0 1%;
    // background-color: yellow;

    &:nth-child(2) {
        margin-right: 180px; /* nav menu gap */
    }


    &.temp {
        width: 103px;
    }
}

.site-nav ul li a {
    display: block;
    padding: 1em 1.5em;
    transition: all .4s ease;

    font-family: $body-fontfamily;
    font-weight: 400;
    font-size: 0.875em;
    color: $color-accent;
    text-transform: uppercase;
    letter-spacing: .2em;
}

@media (max-width:767px) {
    .site-nav ul li a:hover {
        background: pink;
        color: #fff;
    }
}

.logo {
    max-width: 103px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // background-color: green;
}

/* MENU BUITTON */

.menu-button {
    position: absolute;
    top: 1.5em;
    right: 4%;
    display: flex;
    /* float: right; */
}

@media (min-width: 768px) {
    .menu-button {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

/* NAVICON */

.navicon {
    cursor: default;
    color: rgba(255, 255, 255, 0);
}

.navicon::selection {
    background: rgba(255,255,255,0);
}

.navicon::after {
    cursor: pointer;
    content: "\2630";
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    display: block;
    margin-left: .5em;
}

.expanded .navicon::after {
    content: "\2715";
    transform: rotate(90deg);
    transition: all .4s ease-out;
}

/* TOGGLE NAV */

@media (max-width: 768px) {

    .site-header.toggle-nav {
        text-align: left;
    }

    .toggle-nav .site-nav ul li {
        display: block;
        text-align: center;
    }

    .toggle-nav .site-nav ul {
        display: none;
    }

    .toggle-nav .site-nav.expanded ul {
        display: block;
    }
}

section {
    padding: 6em 0;
}

.container {
    width: 100%;
    padding: 0 4%;
    text-align: center;
    // background-color: yellow;
}

/* HOME - HERO SECTION */

.hero {
    background-color: $color-hero-bg;
    padding: 6em 1em;
    color: #fff;
    background-image: url(/img/Kakuida@2x-min.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-attachment: fixed;
    // position: relative;
}

/* HOME - TOP SELLING VINEGARS */


.topselling {
    background-image: url(../img/bg-pattern01@2x-min.jpg);
    background-size: cover;
    background-position: center;
    // min-height: 100px;
    // position: relative;
}

.topselling-card .container {
    background-color: rgb(255, 255, 255);
    max-width: 85%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 80px 120px -60px rgba(63,63,31,0.3);
    padding: 76px;
    margin-top: -12%;
    position: relative;
    z-index: 1;
} 

.deals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    // background-color: pink;
}

.product-item {
    display: flex;
    flex-flow: column;
    max-width: 210px;
    margin: 1em auto;
    margin-bottom: 0;
    // border: 1px solid grey;
}

.product-item .item-img {
    margin-bottom: 1em;
}

/* HOME - WHAT IS BLACK VINEGAR? */

.blackvinegar {
    background-image: url(../../img/bg-paper01@2x-min.jpg);
    background-size: cover;
    background-position: center;
    min-height: 788px;
}

.process {
    mix-blend-mode: darken;
    max-width: 95%;
    height: auto;
}

/* HOME - OUR CUSTOMERS SAY */

.testimonial {
    background-image: url(../../img/bg-blackvinegar01@2x-min.png);
    background-size: cover;
    background-position: center;
    min-height: 788px;
}



/* HOME - DON'T MISS OUT */

.signup {
    background-image: url(../../img/bg-kagoshima@2x-min.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* FORMS */

form {
    width: 628px;
    margin: 3em auto;
}

.input {
    display: flex;
    align-items: center;
}

.inputbox {
    height: 50px;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-indent: 10%;
    margin-left: 1em;

}

/* HOME - FIND US ON AMAZON */

.amazon {
    background-image: url(../../img/Blackvinegar-products@2x-min.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 40em;
}

.amazon-logo {
    max-width: 45px;
    height: auto;
    margin-bottom: 1.4em;
}

/* FOOTER */

.site-footer {
    background-image: url(../../img/bg-black-pattern@2x-min.jpg);
    background-size: cover;
    height: 18em;
    margin-top: 4em;
    display: block;
}

.footer {
    padding: 0;
}

.col {
    width:20%;
    height: auto;
    float: left;
    padding-top: 0;
    padding-left: 1em;
}

.col ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.text {
    padding-left: 3em;
}

.social {
    padding-left: 4.5em;
    padding-top: .4em;
}

.social ul li {
    display: inline-block;
    padding-right: 30px;
    // padding-bottom: 20px;
    margin-bottom: 20px;

}


/* ABOUT */

.about .history {
    background-image: url(../../img/bg-paper01@2x-min.jpg);
    background-size: cover;
    background-position: center;
    // min-height: 788px;
}

.about .hero {
    background-image: url(/img/kakuida-blackvinegar-hero-bg01.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 60vh;
    background-repeat: no-repeat;

}

.about .video {
    border: none;
    box-shadow: 0px 60px 120px -60px rgb(63, 63, 31);
    position: relative;
    margin-top: -20%;
}


// LAYOUT SECTION

.ic-check {
    max-width: 1.4rem;
    margin-right: .6em;
}

.split-crossed-left {

    @media (min-width: $breakpoint-small) {
        
    .container {
        padding-top: 4em;
        display: flex;
        align-items: center;
        // flex-direction: row-reverse;
    }

    .image-block {
        width: 50%;
        padding-right: 3em;
        // background: pink;
    }

    .text-block {
        width: 50%;
        // background: aqua;
        transform: translateX(2em);
    }
    }
}

.split-crossed-reversed {
    @media (min-width: $breakpoint-small) {
        
    .container {
        padding-top: 4em;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .image-block {
        width: 50%;
        padding-left: 3em;
        // background: pink;
    }

    .text-block {
        width: 50%;
        // background: aqua;
        transform: translateX(2em)
        
    }
    }
}

// SPLIT-CROSSED LEFT ANIMATION  

[data-scroll].split-crossed-left .image-block, 
[data-scroll].split-crossed-left .text-block {
  transition: 1s ease-out transform;
}

[data-scroll="in"].split-crossed-left .image-block  {
  transform: translateX(2em);
}

// [data-scroll="out"].split-crossed-left .image-block {
//   transform: translateX(0);
// }

// SPLIT-CROSSED REVERSED ANIMATION  

[data-scroll].split-crossed-reversed .image-block, 
[data-scroll].split-crossed-reversed .text-block {
  transition: 1s ease-out transform;
}

[data-scroll="in"].split-crossed-reversed .image-block  {
  transform: translateX(-2em);
}

// [data-scroll="in"].split-crossed-reversed .text-block  {
//   transform: translateX(2em);
// }



/* PRODUCT */

.product .history {
    background-image: url(../../img/bg-paper01@2x-min.jpg);
    background-size: cover;
    background-position: center;
    // min-height: 788px;
}

.product .hero {
    background-image: url(/img/kakuida-blackvinegar-hero-bg02.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 60vh;
    background-repeat: no-repeat;

}

.product .recommend {
    background-image: url(/img/bg-kakuida-drink-recommend@2x-min.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 50%;

}




















// SCROLL TRIGGERED ANIMAION
[data-scroll] {transition: opacity 1s;}
[data-scroll="in"] {opacity: 1;}
[data-scroll="out"] {opacity: 0;}